<div id="<%= dom_id flight %>">
  <p>
    <strong>Arrival Airport:</strong>
    <%= flight.arrival.code %>
  </p>

  <p>
    <strong>Departure Airport:</strong>
    <%= flight.departure.code %>
  </p>

  <p>
    <strong>Departure Time:</strong>
    <%= flight.start %>
  </p>

  <p>
    <strong>Flight Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
