<p style="color: green"><%= notice %></p>

<h1>Search Flights</h1>

<%= form_with(url: "/search", method: "get") do %>
  <%= label(:departure_id, "From:") %>
  <%= select_tag(:departure_id, options_for_select(@airport_options, @departure_id)) %>
  <%= label(:arrival_id, "To:") %>
  <%= select_tag(:arrival_id, options_for_select(@airport_options, @arrival_id)) %>
  <%= label(:num_passengers, "Passengers:") %>
  <%= select_tag(:num_passengers, options_for_select([1, 2, 3, 4], @num_passengers)) %>
  <%= label(:date, "Date:") %>
  <%= select_tag(:date, options_from_collection_for_select(@dates, :date, :date_formatted, @date)) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @search_result_flights == 'No flights found' %>
  <p><%= "No flights found" %></p>
<% elsif @search_result_flights %>
  <%= form_with(url: "/bookings/new", method: "get") do %>
    <% @search_result_flights.each do |flight| %>
      <p>
        <%= radio_button_tag(:flight_id, flight.id) %>
        <%= label(:flight_id, "Departure Time: #{flight.start.strftime("%H:%M")}, Duration: #{flight.duration}")%>
      </p>
    <% end %>
    <% hidden_field_tag(:num_passengers, @num_passengers)%>
    <%= submit_tag("Book") %>
  <% end %>
<% end %>