<%= form_with model: @booking do |f| %>
  <% i = 1 %>
  <%= f.fields_for :passengers do |passenger_sub_form| %>
    <p>
      <strong><%= "Passenger #{i}"%></strong>
      <%= label(:name, "Name:")%>
      <%= passenger_sub_form.text_field(:name)%>
      <%= label(:email, "Email:")%>
      <%= passenger_sub_form.text_field(:email)%>
    </p>
    <% i += 1 %>
  <% end %>
  <%= f.hidden_field(:flight_id, value: @flight_id) %>
  <%= f.submit %>
<% end %>