<%= form_with model: @booking do |f| %>
  <% @passengers.each_with_index do |passenger, index| %>
    <%= f.fields_for passenger do |sub_form| %>
      <p>
        <strong><%= "Passenger #{index+1}"%></strong>
        <%= label(:name, "Name:")%>
        <%= sub_form.text_field(:name)%>
        <%= label(:email, "Email:")%>
        <%= sub_form.text_field(:email)%>
      </p>
    <% end %>
  <% end %>
  <%= f.hidden_field(:flight_id, value: @flight_id) %>
  <%= f.submit %>
<% end %>